/* #region Commons */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --db-textheader: #505050;
    --db-bcmain: #b4d0e7;
    --db-button: #0061ff;
}

/* #endregion*/

/*#region Utilities*/

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.container{
    width: 60%;
    margin: auto;
}

.py-top4{
    padding-top: 4rem;
}

.py-top2{
    padding-top: 2rem;
}

.gap2{
    gap: 2rem;
}

/*#endregion*/

/*#region Debug*/

.debug header{
    height: 80px;
    background-color: red;
}

.debug .col-header{
    height: 80px;
    margin: auto;
    border: 2px solid black;
}

.debug .container{
    height: 450px;
    background-color: orange;
}

.debug .col-small{
    border: 2px solid black;
    height: 400px;
    width: 50%;
}

.debug .col-big{
    border: 2px solid black;
    height: 400px;
    width: 50%;
}

.debug .bc-main{
    height: 600px;
}
/*#endregion*/

/*#region Header*/      

nav{
    height: 80px;
}

.col-header{
    width: 50%;
    align-items: center;
}

.col-header a{
    padding: 0.5rem;
    text-decoration: none;
    color: var(--db-textheader);
    font-size: 14px;
}

#blue-button{
    background-color: blue;
    color: white;
    height: 20px;
    margin-right: 1rem;
    padding: 0.5rem;
}

/*#endregion*/

/*#region Main*/

.bc-main{
    background-color: var(--db-bcmain);
    height: 490px;
}

.col-small{
    width: 35%;
    font-size: 14px;
    padding right: 1rem;
}

.col-big{
    width: 65%;
}

.maintitle{
    font-size: 54px;
    font-weight: bolder;
}

.jumbo{
    width: 100%;
    height: 320px;
}

.buttom{
    text-decoration: none;
    color: white;
    background-color: var(--db-button);
    padding: 0.5rem;
}

